# EditorConfig for ktlint configuration
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
indent_style = space
max_line_length = 120

# Disable specific ktlint rules
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_property-naming = disabled

[*.xml]
indent_size = 4
indent_style = space

[*.{gradle,gradle.kts}]
indent_size = 4
indent_style = space
